<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>todo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

  </head>
  <body>
    <div class="container">
      <div class="jumbotron main-content">
        <div class="page-header">
          <h1>my todo list</h1>
        </div>

        <div class="todolist">
            <%  todolist.forEach(function(val,i){ %>
              <p><a href="/todo/delete/<%=i%>  "><span class="glyphicon glyphicon-remove"></span></a> <%=val%>&nbsp<span><%=new Date(new Date().getTime()).toLocaleString()%></span></p>
          <% }); %>
        </div>

        <div class="form-content">
          <form  class="form-horizontal" action="todo/add" method="post">
            <div class="form-group">
              <div class="col-xs-4">
                <input class="form-control" type="text" name="something_todo" id ="something_todo" placeholder="new-todo"/>
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker1').datetimepicker();
                              //  $('#datetimepicker').data("DateTimePicker").FUNCTION()
                            });
                        </script>
                    </div>
                </div>
                <br>
                <button class="btn btn-info" type="submit" name="button">submit</button>
              </div>
            </div>
          </form>
      </div>

    </div>
    </div>
  </body>
</html>
